/* You can override SASS variables here. */

// @import "plugins/dark";

:root {
  --body-background: #fdf6e3;
  --body-font-color: #5e6d6f;
  --gray-100: #e8dcca;
  --gray-200: #e8dcca;
  --color-link: inherit;
}
