@import 'fonts.css'

body {
  color: #333;
  padding: 25px;
  font-size: 18px;
  font-family: 'Hack', monospace;
}

h1 {
  font-family: 'HackBold', monospace;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

a {
  color: #333;
  text-decoration: none;

  &:hover {
    background: #ddd;
  }

  &:visited {
    color: #333;
  }

  &:active {
    color: #333;
  }
}

p {
  margin: 0;
  padding: 0;

  &.space {
    padding: 15px 0;
  }

  &.toggle {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li.soon {
    color: #b3b3b3;
  }

  &#travel {
    display: none;

    &.open {
      display: block;
    }
  }
}
